.App {
    text-align: center;
  }

  .videoTag{
    top:-350px; 
    left:0;bottom:0;right:0;
    position: fixed;
    z-index: -1;
    
  }

  li{
    padding: 20px;
  }

  .pull{
    margin-left: 80px
  }
  .pack{
    list-style: none;
   display: flex;
   margin-left: 500px;
  }

 .main-nav{
   list-style: none;
   display: flex;
   
 }

 .navbar-nav{
  list-style: none;
  display: flex;
 }
 

 .navbar{
  height: 80px;
 }

 input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.push{
  margin-left: auto;
}

.form__required {
  float: right;
  font-size: 0.8em;
  background: #ddd;
  padding: 0.3em;
}